# Uninstall: Manage basic resource removal, such as packages or service users.

---

- name: "Setup | Uninstall | Remove packages"
  ansible.builtin.package:
    name: "{{ __sysctl_linux_packages_uninstall }}"
    state: "absent"
  when:
    - __sysctl_linux_packages_uninstall is defined
    - (__sysctl_linux_packages_uninstall | length) > 0


- name: "Setup | Uninstall | Remove additional sysctl config file (if any)"
  ansible.builtin.file:
    path: "{{ sysctl_linux_config_file }}"
    state: "absent"
  when:
    - sysctl_linux_config_file != '/etc/sysctl.conf'
  notify:
    - "sysctl_linux: reload"


- name: "Setup | Uninstall | Remove Ansible managed header from /etc/sysctl.conf (if any)"
  ansible.builtin.lineinfile:
    path: "{{ sysctl_linux_config_file }}"
    regexp: '(?i)^#\s+ansible\s+managed'
    state: "absent"
  when:
    - sysctl_linux_config_file == '/etc/sysctl.conf'
