# Tasks for the Molecule verify stage: Check collection role "sysctl" outcomes.

- name: "Molecule | Verify | Initialize the foundata.linux.sysctl role (without actually running it; get and expose variables)"
  ansible.builtin.include_role:
    name: "foundata.linux.sysctl"
    tasks_from: "init"
    public: true


- name: "Molecule | Verify | Set / overwrite some expected configuration data "
  ansible.builtin.set_fact:
    # values have to be in sync with the config set in ../converge/sysctl-role.yml
    sysctl_linux_config_dropin_file_name: "90-custom-dropin.conf"
    __sysctl_linux_config_dropin_file_path: "{{ __sysctl_linux_config_dropin_dir_path }}/90-custom-dropin.conf"


- name: "Molecule | Verify | Check if sysctl drop-in configuration file exists"
  ansible.builtin.stat:
    path: "{{ __sysctl_linux_config_dropin_file_path }}"
  register: __testing_dropin_file


- name: "Molecule | Verify | Assert sysctl drop-in configuration file exists"
  ansible.builtin.assert:
    that:
      - __testing_dropin_file['stat']['exists']
    fail_msg: "The sysctl drop-in configuration file '{{ __sysctl_linux_config_dropin_file_path }}' does not exist."
    success_msg: "The sysctl drop-in configuration file '{{ __sysctl_linux_config_dropin_file_path }}' exists."


- name: "Molecule | Verify | Check if default sysctl drop-in configuration file does exists (if custom filename is used)"
  ansible.builtin.stat:
    path: "{{ __sysctl_linux_config_dropin_file_path_default }}"
  when:
    - __sysctl_linux_config_dropin_file_path != __sysctl_linux_config_dropin_file_path_default
  register: __testing_dropin_file_default


- name: "Molecule | Verify | Assert default sysctl drop-in configuration file does not exists (if custom filename is used)"
  ansible.builtin.assert:
    that:
      - __testing_dropin_file_default['stat']['exists'] is false
    fail_msg: >-
      The default sysctl drop-in configuration file '{{ __sysctl_linux_config_dropin_file_path }}' exists (even though a custom filename is used).
    success_msg: >-
      The default sysctl drop-in configuration file '{{ __sysctl_linux_config_dropin_file_path }}' does not exist (valid as custom filename is used).
  when:
    - __sysctl_linux_config_dropin_file_path != __sysctl_linux_config_dropin_file_path_default


- name: "Molecule | Verify | Read sysctl drop-in configuration file content"
  ansible.builtin.slurp:
    src: "{{ __sysctl_linux_config_dropin_file_path }}"
  register: __testing_dropin_content


- name: "Molecule | Verify | Assert sysctl drop-in configuration file contains expected parameters"
  vars:
    __testing_file_content: "{{ __testing_dropin_content['content'] | b64decode }}"
  ansible.builtin.assert:
    that:
      - "'ansible managed' in (__testing_file_content | lower)"
      - "__testing_file_content is regex('net\\.ipv4\\.tcp_syncookies\\s*=\\s*0')"
      - "__testing_file_content is regex('net\\.ipv4\\.tcp_timestamps\\s*=\\s*1')"
      - "__testing_file_content is regex('net\\.core\\.somaxconn\\s*=\\s*12288')"
    fail_msg: "The sysctl drop-in configuration file does not contain the expected parameters."
    success_msg: "The sysctl drop-in configuration file contains all expected parameters."


- name: "Molecule | Verify | Verify kernel parameters (skipped in containerized systems due to read-only params)"
  when:
    - not __sysctl_linux_is_container
  block:

    - name: "Molecule | Verify | Get active kernel parameter values "
      ansible.builtin.command:
        argv:
          - "{{ __sysctl_linux_sysctl_executable }}"
          - "--values"
          - "{{ item }}"
      loop:
        - "net.ipv4.tcp_syncookies"
        - "net.ipv4.tcp_timestamps"
        - "net.core.somaxconn"
      register: __testing_active_params
      changed_when: false

    - name: "Molecule | Verify | Assert active kernel parameters have expected values (skipped in containers due to read-only system params)"
      ansible.builtin.assert:
        that:
          - __testing_active_params['results'][0]['stdout'] == "0"
          - __testing_active_params['results'][1]['stdout'] == "1"
          - __testing_active_params['results'][1]['stdout'] == "12288"
        fail_msg: "Active kernel parameters do not match expected values."
        success_msg: "All active kernel parameters have the expected values."
