# Internal role variables and values that must NOT be overridden by the user.
#
# Variables defined here usually override earlier definitions due to the high
# precedence of this file. Each variable should have a concise comment above
# it, describing its purpose and how it fits into the role's functionality.

---

# List of facts used by the role (gathered on a best-effort basis if needed).
#
# To identify which subset a fact belongs to during development, you can use
# the following snippet:
#
# - ansible.builtin.setup:
#     gather_subset:
#       - '!min'
#       - '<subset_name, see parameter doc for details>'
__sysctl_linux_used_facts:
  # from subset "distribution"
  - "distribution"
  - "distribution_major_version"
  - "distribution_version"
  - "os_family"


# List of platforms this role supports and was designed for.
#
# A warning will be issued if the list contains values and the role is executed
# on an unknown (not listed) platform, but execution will continue. Example:
#
# - name: "Fedora" # A ansible_facts value ('distribution' or 'os_family')
#   versions: # A ansible_facts value ('distribution_major_version' or
#     - "all" # 'distribution_version') or "all"
# - name: "Ubuntu"
#   versions:
#     - "22.04"
#     - "24.04"
# - name: "RedHat"
#   versions:
#     - "all"
# - name: "Debian"
#   versions:
#     - "all"
__sysctl_linux_supported_platforms:
  - name: "Debian"
    versions:
      - "12"
      - "13"
  - name: "Fedora"
    versions:
      - "43"
      - "42"
  - name: "openSUSE Leap"
    versions:
      - "16.0"
  - name: "RedHat" # includes AlmaLinux, Rocky and CentOS Stream
    versions:
      - "9"
      - "10"
  - name: "Ubuntu"
    versions:
      - "24.04"
      - "22.04"


# List of package names to be installed when sysctl_linux_state is
# set to "present".
__sysctl_linux_packages_install:
  - "procps"


# List of package names to be uninstalled when sysctl_linux_state is
# set to "absent". This variable is useful when __sysctl_linux_packages_install
# contains packages that are required for the managed software to function but
# should not be removed during uninstallation, as doing so could break other
# software. This is usually the case if there are common dependencies like
# "curl" or "openssl" which typically should remain installed even after
# uninstalling the software managed by this role.
__sysctl_linux_packages_uninstall:
  [] # Remove the "[]" when adding values to this list.


# List of package names to be removed unconditionally before installation
# (e.g., to prevent conflicts or resolve incompatibilities).
__sysctl_linux_packages_removal:
  [] # Remove the "[]" when adding values to this list.


# List of paths of files and directories to be removed unconditionally after
# installation. This is useful for removing default configuration resources
# that would otherwise create confusion or conflict with custom configurations
# managed by this role.
__sysctl_linux_paths_removal:
  [] # Remove the "[]" when adding values to this list.


# Configuration file paths, ownership, and permissions for the Postfix daemon.
# These variables define the different locations of configuration files, the
# include directory, and the Ansible-managed configuration file, ensuring
# consistent file handling across distributions.
__sysctl_linux_config_file: "/etc/sysctl.conf"
__sysctl_linux_config_file_owner: "root"
__sysctl_linux_config_file_group: "root"
__sysctl_linux_config_file_mode: "u=rw,g=r,o=r" # 0644

__sysctl_linux_config_dropin_dir: "/etc/sysctl.d"
__sysctl_linux_config_dropin_dir_owner: "root"
__sysctl_linux_config_dropin_dir_group: "root"
__sysctl_linux_config_dropin_dir_mode: "u=rwx,g=rx,o=rx" # 0755

__sysctl_linux_config_dropin_file: "{{ __sysctl_linux_config_dropin_dir }}/99-zz-managed.conf" # 99-zz prefix to ensure precedence / late include
__sysctl_linux_config_dropin_file_owner: "{{ __sysctl_linux_config_file_owner }}"
__sysctl_linux_config_dropin_file_group: "{{ __sysctl_linux_config_file_group }}"
__sysctl_linux_config_dropin_file_mode: "{{ __sysctl_linux_config_file_mode }}"


# Executable paths
__sysctl_linux_sysctl_executable: "/usr/sbin/sysctl"


### Override defaults of dependencies used by this role (if any).

# nothing right now
