# Tasks for the Molecule prepare stage: Add resources needed for later steps
# (e.g. verify) on all driver-created instances.


- name: "Molecule | Verify | Initialize the foundata.linux.sysctl role (without actually running it; get and expose variables)"
  ansible.builtin.include_role:
    name: "foundata.linux.sysctl"
    tasks_from: "init"
    public: true


- name: "Molecule | Prepare | Add custom values to sysctl main config file (to test automatic commenting later)"
  ansible.posix.sysctl:
    sysctl_file: "{{ __sysctl_linux_config_file_path }}"
    name: "{{ item['key'] }}"
    value: "{{ item['value'] }}"
    state: "present"
    sysctl_set: false
    reload: false
  vars:
    __testing_sysctl_values_to_comment:
      "net.ipv4.tcp_syncookies": "1" # Managed during the converge stage; must be commented out
      "net.ipv4.tcp_mtu_probing": "1" # Unmanaged; must NOT be commented out
      "net.ipv4.tcp_timestamps": "0" # Managed during the converge stage; must be commented out
  loop: "{{ __testing_sysctl_values_to_comment | ansible.builtin.dict2items }}"
